header{
    background-color:hsl(233, 13%, 25%);
    margin-bottom: 999px;
    height: 121vh;

}
#subdiv{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 40%;
    margin: 0 auto;
    background-color: rgb(88, 82, 82);
    border: 3px ;
    color: whitesmoke;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.imageprofile{
    position: relative;
    width: 100%;
}
.uppersection{
    position: absolute;
    top: 15%; 
    left: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 400px;
}
#main{
    position: absolute;
    top: 30%;
    left: 25%;
}
.addsection input{
    width: 480px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
}
.listadd{
    padding: 15px;
    border-radius: 0px 5px 5px 0;
    display: none;
}
h1{
    color:whitesmoke;
    font-size: 40px;
}
.lighttheme,
.darktheme{
    text-decoration: none;
    background-color: transparent;
    border: 0px;
}
#lightscreen{
    display: none;
}

.lighttheme:hover,
.darktheme:hover{
    color: hsl(228, 75%, 11%);
}
.darktheme{
    display: none;
}
.lowersection{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.statusitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.statusitem li:hover{
    color: rgb(235, 227, 227) 
}
#btnactive{
    color: rgb(63, 63, 124);
    
}
.lowest{
    text-align: center;
    color: whitesmoke;
}

#todo{
    margin-bottom: 20px;
}
#todo ul {
    list-style: none;
    
}

#todoli {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.1;
    border-bottom: 1px solid #444;
}

#todo li input[type="checkbox"] {
    margin-right: 1rem;
    cursor: pointer;
}
#todo li input[type="checkbox"]:hover{
    list-style: circle;
}
#todo li input[type="checkbox"]::after{
    list-style: circle ;
}

#todo li label {
    flex: 1; 
}

#todo li button {
    background: none;
    border: none;
    color: whitesmoke;
    margin-left: 2rem;
    font-size: 2rem;
} 
.footer{
    display: none ;


}
@media(max-width:899px){
    header{
        width: 100%;
        background-image: url("./assesment/images/bg-mobile-dark.jpg");
        background-repeat: no-repeat;
        background-position: cover;
    }
    .img img{
        display: none;
    }
    .searchentry{
        margin: 100px auto;
    }
    .img{
        position: relative;
        width: 100%;
    }
}